<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./header%>

    <h2>Main application page</h2>
    <%if(sites){ %>
      <h3>Guru Instances: </h3>
      <ul>
        <% for(var i=0; i<sites.length; i++) { %>
          <li>
            <%= sites[i].server %> <%=sites[i].url%> <%=sites[i].version%> <%= sites[i].environment %>
          </li>
        <% } %>
      </ul>
    <% } %>

  </body>
</html>
